

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    

    headline {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 100px;
            color: #24799D;
            position: absolute;
            top: 85px;
            width: 1000px;
            text-align: center;
        }
    }
}

.img-container {
    img {
        width: 100vh;
        border: solid 5px #698cce;
    }
}

.container {
    position: relative;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    mat-card {
        border: solid 5px #698cce;
        width: 700px;

        mat-progress-bar {
            position: absolute;
            left: 0px;
            top: 4px;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
                font-size: 24px;
            }

            form {
                display: flex;
                flex-direction: column;

                .button-container {
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                }

            }


            .alternate {
                display: flex;
                justify-content: space-around;
                font-style: italic;
                margin-top: 16px;
                font-size: 16px;

                span {
                    margin-right: 16px;
                    cursor: pointer;
                }
            }
        }
    }


}