<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="authService.isLoggedIn && true">
    <div class="logo-container">
      <img class="logo-crm" src="../assets/img/logo-CRM.png" alt="">
    </div>
    <ul class="menu-items">
      <li routerLink="dashboard" (click)="headline('Dashboard')"><mat-icon>perm_identity</mat-icon>Dashboard</li>
      <li routerLink="user" (click)="headline('User')"><mat-icon>fact_check</mat-icon>User</li>
      <li routerLink="login" (click)="authService.SignOut()"><mat-icon>logout</mat-icon>Logout</li>
     
    </ul>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar  *ngIf="this.authService.isLoggedIn === true">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{simpleCRM}}</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>


  </div>

</mat-drawer-container>