.container {
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .headline {
        h1 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 60px;
            color: #24799D;
            font-weight: bold;
            
            @media (max-width: 950px) {
                font-size: 55px;
        }
    }
    }

    mat-card {
        width: 400px;
        position: relative;
        border: solid 5px #698cce;

        mat-progress-bar {
            position: absolute;
            left: 0px;
            top: 4px;
        }

        mat-card-content {
            display: flex;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column; 
            }

           .button-container {
            display: flex;
            align-items: center;

            span {
                margin-left: 16px;
                margin-right: 16px;
            }
           }

           .alternate {
            font-style: italic;
            font-size: 12px;
            margin-top: 16px;

            span {
                margin-right: 16px;
                cursor: pointer;
            }
           }
        }
    }


}